<div
  id="myCarousel"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <ol class="carousel-indicators">
    <li data-bs-target="myCarousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="myCarousel" data-bs-slide-to="1"></li>
    <li data-bs-target="myCarousel" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" >
    <div class="carousel-item active" data-interval="2000">
      <div
        class="overlay-image"
        style="background-image: url(../../assets/Image/blog_image_1.jpg)"
      ></div>
      <div class="container">
              <h1>Examp Headline</h1>
              <p>
               cras justo odio, locadsada dasdada cras justo odio, locadsada dasdada
               cras justo odio, locadsada dasdada cras justo odio, locadsada dasdada.
              </p>
              <a href="#" class="btn btn-lg btn-primary"> Sign up today </a>
      </div>
    </div>
    <div class="carousel-item" data-interval="1000">
      <div
        class="overlay-image"
        style="background-image: url(../../assets/Image/blog_image_2.jpg)"
      ></div>
      <div class="container">
        <h1>Examp Headline</h1>
        <p>
          cras justo odio, locadsada dasdada cras justo odio, locadsada dasdada
          cras justo odio, locadsada dasdada cras justo odio, locadsada dasdada.
        </p>
        <a href="#" class="btn btn-lg btn-primary"> Sign up today </a>
      </div>
    </div>
    <div class="carousel-item" data-interval="500">
      <div
        class="overlay-image"
        style="background-image: url(../../assets/Image/blog_image_3.png)"
      ></div>
      <div class="container">
        <h1>Examp Headline</h1>
        <p>
          cras justo odio, locadsada dasdada cras justo odio, locadsada dasdada
          cras justo odio, locadsada dasdada cras justo odio, locadsada dasdada.
        </p>
        <a href="#" class="btn btn-lg btn-primary"> Sign up today </a>
      </div>
    </div>
  </div>
  <a
    href="#myCarousel"
    class="carousel-control-prev"
    role="button"
    data-bs-slide="prev"
  >
    <span class="sr-only"></span>
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a
    href="#myCarousel"
    class="carousel-control-next"
    role="button"
    data-bs-slide="next"
  >
    <span class="sr-only"></span>
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
