<div class="container">
    <div class="col-md-4" *ngFor="let blog of blogs">
    <div class="card" style="width: 17rem;">
      <img src="{{blog.imagen}}" class="card-img-top" alt="blog">
      <div class="card-body">
        <p class="card-title">{{blog.nombre}}</p>
        <p class="card-fecha">{{blog.fecha}}</p>
        <td><button type="button" name="button"  class="btn btn-primary" [routerLink]="['/blogCard',blog.id]">Ver mas...</button></td>
      </div>
      
    </div>
  </div>
  </div>